node_modules/
bundle.js
npm-debug.log


/.idea
/public

.env
.passport.js
.DS_Store

build/
dist/
client/.parcel-cache

package.json
vite.svg

tsconfig.app.json
tsconfig.json
tsconfig.node.json

vite.config.ts
package-lock.json
package.json

