:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#subtitle {
  font-size: 1.2em;
}

#invis-text {
  color: transparent;
  font-size: 32px;
  line-height: 1px;
  padding: 0;
  margin: 10;
}

#loginDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url(${gravestoneImage});
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #242424;
}

.login-container {
  background-color: rgba(64, 64, 64, 0.8);
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  max-width: 350px;
  width: 80%;
  text-align: center;
}

.login-title {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #f0f0f0;
}

.login-input {
  width: 75%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccca8;
  border-radius: 5px;
  font-size: 1em;
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
}

.login-input::placeholder {
  color: #b0b0b0;
  opacity: 0.7;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #45a049;
}

.login-message {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bolder;
  color: rgb(255, 84, 84);
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
}

.login-message.success {
  color: rgb(21, 209, 21);
}

.check-in-frequency {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-top: 10px;
  margin-left: 28%;
  margin-bottom: 15px;
}

.check-in-frequency label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #f0f0f0;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ddd;
}

.radio-option input[type="radio"] {
  margin-right: 5px;
  accent-color: green;
}

.delete-account-button {
  background-color: rgb(158, 10, 10);
}
